*/*
Resetear el navegador
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  <
}

/*
Crear container
*/

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 7px;
  padding: 12px; /* gutters */
}

/*
formula para el ancho de las columnas (numero columnas / 12) * 100
*/

.col-1 {
  width: 8.333333%;
  border: 1px solid red;
  height: 100px;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

/*MIS ESTILOS*/

img {
  width: 100%;
}

@media (max-width: 450px){
  [class*="col-"]{
    width: 100%;
  }  
}

.rowtop{
  background-color: #F78E69; 
  height: 200px;
}

#top{
  color: #FFF;
  text-align: right;
  padding-right: 100px;
  padding-top: 50px;
}

#top h1{
  font-size: 40px;
}
#top p {
  font-size: 16px;
}

#panda1{
  background-image: url(img/uno.jpg);
  background-size: cover;
  height: 100vh;
  filter: grayscale(100%);
}

.lineaor{
  height: 20px;
  background-color: #F78E69;
}

.lineagr{
  height: 40px;
  background-color: #ABE188;
 }

.grbox{
  background-color: #ABE188;
  height: 400px;
 }

.orbox{
  background-color: #F78E69;
  color: #FFF;
  text-align: center;
  height: 400px;
 }

.orbox h2{
  padding-top: 30px;
}

.orbox p{
  padding-top: 15px;
 }

.panda2{
  background-image: url(img/dos.jpg);
  background-size: cover;
  height: 100vh;
  filter: grayscale(100%);
}


